<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <h1>Product id: <%= id %></h1>
  <ul>
    <li><%= product.id %></li>
    <li><%= product.name %></li>
    <li><%= product.price %></li>
  </ul>
   <button class="py-2 px-3 bg-indigo-500 text-white">Mua ngay</button>
  <ul>
  <% products.forEach(function(product){ %>
    <li><%= product.id %> - <%= product.name %> - <%= product.price %></li>
  <% }); %>
</ul>
</body>
</html>