@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply py-2 px-4 border border-slate-300 rounded
    }
}
@layer components {

    .btn {
        @apply bg-white hover:bg-slate-200 text-slate-700 rounded border border-slate-300 py-2 px-4
    }
    .btn-primary {
        @apply bg-indigo-500 text-white border-indigo-500 hover:bg-indigo-700
    }
}