<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Up Load SIngle photo</h2>
  <form action="/photo" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" />
    <button type="submit">Upload</button>
  </form>
  <div>
    <h2>Up Load Multiple photos</h2>
  </div>
  <form action="/photos" method="post" enctype="multipart/form-data">
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <button type="submit">Upload</button>
  </form>
</body>
</html>