NODE_ENV = 'development'
PORT = 8686

MONGODB_URI = 'mongodb://localhost:27017/myEcommerce'
MONGODB_DATABASE_NAME = 'myEcommerce'

JWT_SECURE_KEY = 'myCatfly100miles'

#multer config
UPLOAD_DIRECTORY = './public/uploads'
UPLOAD_FILES_DIR = 'files'
UPLOAD_FILES_IMG = 'images'